* {
    align-items: center;
    justify-content: center;
    position: relative;
}

.frame {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 20px;
}

.inner {
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    border-radius: 20px;
}